*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    border: solid 2px black; 
}


.header{
    float: left;
    writing-mode: vertical-rl;
    border: solid 1px black;
    width:  5%;
    height: 49%;
    rotate: 180deg
}



table{
    width: 94%;
    border-spacing: 0px;
}


th{
    border: solid 1px black;
    
}


.subtitulo{
    background-color: rgb(249, 226, 195);
}


.branco{
    background-color: white;
}


.pp{
    background-color: rgb(204, 121, 53);
}


.natureza{
    background-color: orange;
}


.matematica{
    background-color: yellow;
}


.ch{
    background-color: rgb(127, 176, 216);
}


.tec{
    background-color: rgb(142, 85, 196);
}


.linguagens{
    background-color: pink;
}


.pv{
    background-color: rgb(151, 212, 151);
}


.int{
    background-color: rgb(175, 167, 167);
}


.table2{
    width: 34%;
}


.text{
    border: 0;
}

h1{
    font-size: 170%;
}

